/*
# Google Font ( Poppins ) Import from google
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
}

input {
    border: none;
    outline: none;
}

#vp-dark-btn:checked ~ label div {
    transform: translateX(36px);
}

.vp__dark__mode .moon {
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.vp__dark__mode .sun {
    font-size: 26px;
    color: white;
    cursor: pointer;
    display: none;
}

.status {
    width: fit-content;
}

/*
############## LOGIN PAGE STYLES ################
*/

.vp__login > .vp__container {
    min-height: 100vh;
}

.dark .left-shadow {
    position: relative;
    z-index: 1;
}

.dark .left-shadow::after {
    position: absolute;
    top: -62%;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(
        42.17% 42.17% at 50% 50%,
        #613cf3 0%,
        rgba(42, 35, 127, 0.499535) 33.52%,
        rgba(60, 20, 34, 0.210801) 71.94%,
        rgba(5, 9, 11, 0) 100%
    );
    z-index: -1;
}

.right-shadow {
    position: relative;
    z-index: 11;
}

.right-shadow::after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(96.31deg, #2D8E95 0%, #7219E2 102.56%);
}

.dark .right-shadow::after {
    background: linear-gradient(90deg, #18275c 0%, #6c106d 100%);
    opacity: 0.4;
}

.form form input[type='checkbox'] {
    width: 16px;
    margin-right: 15px;
    margin-top: -5px;
}


/*######################
    ----- Header Design ----------
######################*/

.light-logo {
    display: none;
}

.dark-logo {
    display: block;
}

.dark .dark-logo {
    display: none;
}

.dark .light-logo {
    display: block;
}

.vp__header {
    position: relative;
}

.vp__header .header-content {
    height: 100vh;
    overflow-y: auto;
}

.vp__header::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(176.45deg, #18275c -3.14%, #8b218d 165.23%);
    opacity: 1;
    z-index: -1;
}

.dark .vp__header::before {
    opacity: 0.25;
}

.vp__menus ul li {
    padding-left: 25px;
    margin: 0 25px 25px 0;
    color: #898fa0;
}

.vp__menus ul li.active {
    background: linear-gradient(96.31deg, #2d8e95 0%, #7219e2 102.56%);
    border-radius: 0px 12px 12px 0px;
    color: white;
}

.vp__menus ul li.active svg path {
    fill: white;
}

.vp__menus ul li svg {
    width: 20px;
    margin-right: 20px;
}

.vp__menus ul li a {
    padding: 10px 0;
}

.vp__menus ul li a span {
    font-size: 18px;
}

.avatar {
    width: 40px;
    height: 40px;
    border: double 1.5px transparent;
    border-radius: 6px;
    background-image: linear-gradient(white, white), linear-gradient(96.31deg, #2D8E95 0%, #7219E2 102.56%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 999px;
}

.dark .avatar {
    background-image: linear-gradient(#060A0C, #060A0C), linear-gradient(96.31deg, #2D8E95 0%, #7219E2 102.56%);
}

.avatar img {
    padding: 1.4px;
}

/*######################
    ----- Mobile Menu ----------
######################*/

.mobile-menu .icon i {
    font-size: 30px;
    cursor: pointer;
    color: #000;
}

.dark .mobile-menu .icon i {
    color: #fff;
}

.show-mobile-menu {
    display: block;
    position: fixed;
    min-height: 100vh;
    z-index: 999;
    background: #060A0C;
}

/*########
### --- Dashboard Page --- ###
########*/

.data-table {
    background: white;
    box-shadow: 0px 13px 74px rgba(0, 0, 0, 0.03);
}

.dark .data-table {
    position: relative;
    z-index: 1;
    background: #060a0c;
}

.dark .data-table::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* min-width: 900px; */
    height: 100%;
    content: '';
    background: linear-gradient(90deg, #18275c 0%, #6c106d 100%);
    opacity: 0.3;
    z-index: -1;
    border-radius: 4px;
}

.splide .splide__slide .post {
    width: 100%;
    max-width: 90%;
    margin: auto;
}

/*######################
    ----- Blog Slider ----------
######################*/

.splide .splide__slide .post img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

/*######################
----- Wallet Tab ----------
######################*/

.vp__wallet__tab ul li {
    position: relative;
    font-size: 16px;
}

.vp__wallet__tab ul li.active::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 5px;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wallet__send_money input {
    background: transparent;
}

img.light {
    display: block;
}

img.dark {
    display: none;
}

.dark img.light {
    display: none;
}

.dark img.dark {
    display: block;
}

/*######################
    ----- Scrollbar Design ----------
######################*/


.table-scroll {
    background: #fff;
    box-shadow: 0px 13px 74px rgba(0, 0, 0, 0.03);
    overflow-x: auto;
}

.table-scroll::-webkit-scrollbar {
    width: 30px;
    height: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background: linear-gradient(96.31deg, #2D8E95 0%, #7219E2 102.56%);
}

.table-scroll-content {
    width: 100%;
    min-width: 900px;
}

.dark .table-scroll {
    background: #060A0C;
}

.dark .table-scroll-content {
    background: linear-gradient(90deg, rgba(24,39,92,0.3) 0%, rgba(108,16,109,0.3) 100%);
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: block;
}

.token-copy-area {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ver-token-btn2 {
    display: block;
}

#ver-token-btn1 {
    display: none;
}

.dark #ver-token-btn2 {
    display: none;
}

.dark #ver-token-btn1 {
    display: block;
}

/*######################
    ----- Billing Design ----------
######################*/

.billing-tab-indicator ul li {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 8px;
}

.dark .billing-tab-indicator ul li {
    color: #f0f0f0;
}

.billing-tab-indicator ul li.active {
    color: transparent;
    background: linear-gradient(96.31deg, #2D8E95 0%, #9E53FD 102.56%);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

.billing-tab-indicator ul li.active::before {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(96.31deg, #2D8E95 0%, #9E53FD 102.56%);
    border-radius: 10px;
}

.bill-fallback, .billing-tab-item {
    display: none;
}

.billing-tab-item.active {
    display: block;
}

/* Setting Page */

.setting-tab-body .tab-item {
    display: none;
}

.setting-tab-body .tab-item.active {
    display: block;
}

.setting-tab-item {
    width: 180px;
    border: 2px solid;
    border-color: #f6f6f6;
    border-radius: 4px;
    margin: 8px 8px 8px 0;
}

.setting-tab-item.active {
    background: linear-gradient(96.31deg, rgba(45, 142, 149, 0.15) 0%, rgba(114, 25, 226, 0.15) 102.56%);
    border-color: #8a9ae8;
}

.dark .setting-tab-item {
    border-color: #374151;
}

.noti-view {
    background: linear-gradient(89.33deg, #30B8C2 0.58%, #30BFCA 109.32%, #30C7D2 109.33%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/*######################
    ----- Responsive Design ----------
######################*/

@media all and (max-width: 1024px) {
    .left-shadow::after {
        display: none;
    }
}

@media all and (max-width: 350px) {
    .setting-tab-item {
        margin: 8px 0 8px 0;
    }
}
